<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>{{ template.titulo }}</title>

		{{#template.files.defaults.css}}
		<link href="{{ template.paths.css }}/{{ . }}" rel="stylesheet" type="text/css" />
		{{/template.files.defaults.css}}

		{{#template.files.css}}
		<link href="{{ template.paths.css }}/{{ . }}" rel="stylesheet" type="text/css" />
		{{/template.files.css}}
		<!--[if IE]> <link href="{{ template.paths.css }}/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

		{{#template.files.defaults.js}}
		<script type="text/javascript" src="{{ template.paths.js }}/{{ . }}"></script>
		{{/template.files.defaults.js}}

		{{#template.files.js}}
		<script type="text/javascript" src="{{ template.paths.js }}/{{ . }}"></script>
		{{/template.files.js}}
	</head>

	<body>

		<!-- Top line begins -->
		<div id="top">
			<div class="wrapper">
				<a href="#" title="" class="logo"><img src="{{ template.paths.images }}/logo.png" alt="" /></a>

				<!-- Right top nav -->
				<div class="topNav">
					<ul class="userNav">
						<li><a href="#" title="" class="screen"></a></li>
						<li><a href="#" title="" class="settings"></a></li>
						<li><a href="#" title="" class="logout"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Top line ends -->


		<!-- Login wrapper begins -->
		<div class="loginWrapper">